.button1 {
  width: 100%;
  background-color: darkgreen;
}
.list {
  width: 200px;
  list-style-type: none;
  z-index: 1;
  display: none;
}
a {
  text-decoration: none;
}
.drop:hover .button1 {
  background-color: aqua;
}
.list:hover a {
  color: brown;
}
.drop {
  position: relative;
  display: inline-block;
}
.drop:hover .list {
  display: block;
}
