@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM sans";
  background-color: rgb(94, 8, 134);
  color: #fff;
}
p {
  position: relative;
  left: 30%;
  margin: 10px;
}
.search_field {
  display: flex;
  position: relative;
  left: 27%;
  height: 30px;
  color: white;
}
#search_box {
  width: 200px;
  padding: 2px;
  border: 0;
  background-color: blue;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search_btn {
  padding: 2px;
  color: white;
  background-color: red;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: grab;
}
::placeholder {
  color: #fff;
  font-weight: 10;
  font-size: 10px;
}
.load {
  border: 0;
  background-color: red;
  cursor: grabbing;
  position: relative;
  left: 40%;
  display: none;
}
